.topmargin {
    margin-top: 90px;
}
h1,
div,
p,
section {
    margin: 0;
    padding: 0;
}
.filter {
    width: fit-content;
    /* height: 35px; */
    border: 3px solid #000;
    border-radius: 26px;
    display: flex;
    margin-left: 70px;
    font-weight: 500;
    border-radius: 147px;
}

.filter-item {
    max-width: 310px;
    height: auto;
    border-right: 3px solid #000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    justify-content: center;
}
.filter-item:nth-last-of-type(1) {
    border-right: none;
}

.filter-item-title {
    color: black;
}

.react-select
    .react-select__control--is-focused
    .react-select__control--menu-is-open {
    border-color: red;
    box-shadow: 0 0 10px pink;
    width: 1000px;
}
.filter-icon {
    width: 12px;
}
.card-container {
    margin: 30px 70px 30px 70px;
    height: auto;
}
.item {
    background-color: blueviolet;
    margin-bottom: 20px;
    width: 366px; /*calc(100vw / 3 - 100px);*/
}

.card {
    width: 366px; /*calc(100vw / 3 - 100px);*/
    height: auto;
    padding: 18px;
    border-radius: 17px;
    border: 3px solid #000;
    display: flex;
    gap: 18px;
    /* background-color: #dafc3d; */
    flex-direction: column;
    justify-content: flex-start;
}

.card-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-color {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    padding: 5px 5px;
}

.status-text {
    display: inline-block;
    font-size: 14px;
}

.dollar {
    font-weight: 600;
}

.media-container {
    width: 100%;
    overflow: hidden;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    border-radius: 12px;
    border: 3px solid #000;
}
.media {
    width: 100%;
}

.time {
    font-size: 12px;
    font-weight: 200;
}
.headline {
    /* font-size: 18px; */
    font-weight: 600;
}

.button-section {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: auto;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 7px;
    border: 3px solid #000;
    box-shadow: #000 4px 4px 0 1px;
    background-color: #00dce6;
    transition: box-shadow 150ms ease-out;
}
.button-section:hover {
    /* background-color: #00b4d8; */
    box-shadow: #000 0px 0px 0 0px;
}

.contentC {
    width: calc(100% - 110px);
    border-right: #000 2px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.contentC:nth-last-of-type(1) {
    border-right: none;
    /* padding-right: 5px; */
}
.update {
    margin-bottom: 15px;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 60vw;
    height: 40vw;
    top: 50%;
    border-radius: 25px;
    border: 3px solid #000;
    box-shadow: #000 4px 4px 0 1px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
.modal-left-section {
    flex: 2;
    border-right: 3px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.modal-top-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-heading {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}

.modal-right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;

    justify-content: space-evenly;
}

.right-heading {
    font-size: 19px;
    font-weight: 600;
    /* font-family: Poppins; */
    text-transform: uppercase;
}
.back {
    cursor: pointer;
    height: 25px;
    /* width: 30px; */
}
.location {
    font-weight: 700;
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.action-item {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 10px;
    border-radius: 7px;
    border: 2px solid #000;
    text-align: center;
}

.action-item img {
    width: 65%;
    margin-top: 5px;
}
.action-item p {
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-top: 2px solid #000;
    text-transform: capitalize;
}

.info-area {
    border-radius: 7px;
    border: 2px solid #000;
    font-size: 14px;
    width: 100%;
    white-space: pre-line;
}

/* modal ends */

/* CSS for ImageSlider */
.display {
    backdrop-filter: blur(11px) saturate(200%);
    -webkit-backdrop-filter: blur(11px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 10px 20px;
    color: #000;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: left;
}

.display-para {
    color: #000;
}

.carousel-control-next-icon {
    background-color: #5c5b5b;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    background-color: #5c5b5b;
    border-radius: 10px;
}

.b-padding {
    height: 20px;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
}

form {
    width: 500px;
    padding: 16px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    color: #333;
}
label {
    display: block;
    padding: 32px 0 8px;
    font-weight: 700;
}
#token {
    width: 100%;
    padding: 4px;
    font-size: 1.2rem;
}
#output {
    display: block;
    padding: 16px;
    margin: 0;
    color: lime;
    background: #222;
    font-family: Courier New, ui-monospace, monospace;
    font-weight: 500;
    line-height: 1.6;
    position: fixed;
    bottom: 0;
    height: 47.3%;
    width: 100%;
    overflow-y: scroll;
}
#output a {
    color: aqua;
}
input[type='submit'] {
    display: block;
    padding: 4px 16px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 32px;
}

.statss {
    height: 90%;
}
